.popup-dialog {
  width: 100%;

  @media only screen and (max-width: 990px) {
    width: 80%;
  }
}

.margin-bottom {
  margin-bottom: 25px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

/*EVENT TITLE*/
h3 {
  font-size: 24px;
  font-weight: 400;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 30px
}

/*CLOSE BUTTON*/
.close-btn {
  color: #BDBDBD;
  cursor: default;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
}
.close-btn:hover {
  color: orange;
}

.title-label {
  font-weight: normal;
  margin-bottom: 15px;
}

/*INPUT FIELD BOXES*/
.box {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  width: 100%;
  height: 50px;
}

.box-small {
  width: 87px;
}

.box-big {
  width: 100%;
  height: 96px;
}

/*CREATE BUTTON*/
.create-btn {
  cursor: default;
  width: 304px;
  height: 36px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}
