/*EVENT TITLE*/
h3 {
  font-family: .SFNSDisplay-Regular;
  font-size: 24px;
  font-weight: 400;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 30px
}

/*CLOSE BUTTON*/
.close-btn {
  color: #BDBDBD;
  cursor: default;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
}
.close-btn:hover {
  color: orange;
}

/* LABELS */
.label {
  background: #FFFFFF;
  color: #424242;
  font-family: .AppleSystemUIFont;
  font-size: 12px;
  margin-bottom: 8px;
}

/*INPUT FIELD BOXES*/
.box {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  width: 295px;
  height: 50px;
}
.box-small {
  width: 87px;
}
.box-big {
  width: 100%;
  height: 96px;
}

/*CREATE BUTTON*/
.create-btn {
  cursor: default;
  width: 304px;
  height: 36px;
  border: none;
  color: #FFFFFF;
  font-family: .AppleSystemUIFont;
  font-size: 14px;
  text-align: center;
}
/*.create-btn:focus {
  outline:0;
}
.create-btn:hover {
  background: orange;
}*/

/* TEXTFIELD FIELD POSITIONS */
.event-title, .event-date {
  display: inline-block;
}
.event-location, .event-info {
  display: inline-block;
  float: right;
}
.start-time, .end-time {
  display: inline-block;
  float: left;
  margin-right: 17px;
}

/* ROWS */
.row-1, .row-2 {
  margin-bottom: 26px;
}
.row-3 {
  margin-bottom: 30px;
}
.row-4 {
  text-align: center;
}
