.event-card {
  position: relative;
  display: inline-block;
  width: 310px;
  height: 370px;
  margin-left: 15px;
  margin-right: 15px;
  border: 0px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 10px;

  #event-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #host-image {
    height: 70px;
    width: 70px;
    position: absolute;
    right: 35px;
    top: 205px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.12);
  }

  h1 {
    font-family: Roboto-Regular;
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }

  h2 {
    font-family: Roboto-Regular;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  h3 {
    font-family: Roboto-Regular;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: normal;
    margin: 0;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .rsvp-buton {

  }

  .rsvp-button:hover {
    opacity: 0.8;
  }

}