@font-face {
    font-family: 'LobsterTwo-Regular'; /*a name to be used later*/
    src: url('../fonts/LobsterTwo-Regular.ttf');
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('../assets/Roboto-Regular.ttf');
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Medium'; /*a name to be used later*/
    src: url('../assets/Roboto-Medium.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Thin'; /*a name to be used later*/
    src: url('../assets/Roboto-Thin.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic'; /*a name to be used later*/
    src: url('../assets/RobotoCondensed-LightItalic.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Light'; /*a name to be used later*/
    src: url('../assets/Roboto-Light.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Bold'; /*a name to be used later*/
    src: url('../assets/Roboto-Bold.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #424242;
  background-color: #f1efea;
  font-family: Roboto-Regular;
  font-weight: normal;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: #EEEEEE;
}

img {
  object-fit: cover;
}

p, h1 {
  margin: 0px;
}

.app {
  width: 100%;
  height: 100%;
}

/* ######################################################################## */
/* Main */
/* ######################################################################## */

.heroImage {
  background-image: url("../images/sun_hero.png");
  background-size: cover;
  /*background-blend-mode: multiply;*/
  /*background-color: #F39C11;*/
}

.erfaraFont {
  font-family: "LobsterTwo-Regular";
}

#auth-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#main-div {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ################################ */

.sd-date {
  width: percentage(1/7);
  float: left;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  border-radius: 0.25rem;
  transition: background-color 0.25s ease-in-out;

  // Variants
  &.past, &.future {
    opacity: 0.5;
  }

  // States
  &:hover {
    cursor: pointer;
    background-color: rgba(white, 0.3);
  }
}

.hoverable {
  -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  &:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
           box-shadow: 5px 5px 8px #C7C7C7;
  }
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.actionBarUser {
  &:hover {
    background-color: #CCCCCC;
  }
}

.light-shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.04);
}

.shadow {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.messaging-pane {

  .background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url("../images/message_window_background.jpg");
  }
}

.hover {
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.conversationList {
  li {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .title {
      color: red;
    }

    .subtitle {
      color: blue;
    }
  }

  li::after {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #f4f5f5;
    content: "";
  }
}

.attendeesList {
  li {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

}

.appBar {
  h1 {
    &:hover {
      cursor: pointer;
    }
  }
}

.userTabs {
  &:hover {
    font-weight: 900;
    cursor: pointer;
  }
}

.googleSignUpButton {
  border: 0;
  border-radius: 5%;
  width: 133px;
  height: 133px;
  background-image: url("../images/google-logo.png");
  background-position: 50% 50%;
  background-size: contain;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;

  &:active {
    outline: none;
    opacity: 0.35;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    opacity: 0.4;
  }
}

.facebookSignUpButton {
  border: 0;
  border-radius: 5%;
  width: 110px;
  height: 110px;
  background-image: url("../images/facebook-logo.png");
  background-position: 50% 50%;
  background-size: contain;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;

  &:active {
    outline: none;
    opacity: 0.35;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    opacity: 0.4;
  }
}
