.sd-date {
  width: percentage(1/7);
  float: left;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  border-radius: 0.25rem;
  transition: background-color 0.25s ease-in-out;

  // Variants
  &.past, &.future {
    opacity: 0.5;
  }

  // States
  &:hover {
    cursor: pointer;
    background-color: rgba(white, 0.3);
  }
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.actionBarUser {
  &:hover {
    background-color: #CCCCCC;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.messaging-pane {

  .background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url("../images/message_window_background.jpg");
  }
}

.hover {
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.conversationList {
  li {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .title {
      color: red;
    }

    .subtitle {
      color: blue;
    }
  }

  li::after {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #f4f5f5;
    content: "";
  }
}

.attendeesList {
  li {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

}

.appBar {
  h1 {
    &:hover {
      cursor: pointer;
    }
  }
}

.userTabs {
  &:hover {
    font-weight: 900;
    cursor: pointer;
  }
}

.eventHeroImage {
  height: 250px;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/event image.jpeg");
  background-size: contain;
  background-position: 50% 40%;
  /*background-blend-mode: multiply;*/
  /*background-color: #F39C11;*/
  object-fit: contain;
}

.googleSignUpButton {
  border: 0;
  border-radius: 5%;
  width: 133px;
  height: 133px;
  background-image: url("../images/google-logo.png");
  background-position: 50% 50%;
  background-size: contain;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;

  &:active {
    outline: none;
    opacity: 0.35;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    opacity: 0.4;
  }
}

.facebookSignUpButton {
  border: 0;
  border-radius: 5%;
  width: 110px;
  height: 110px;
  background-image: url("../images/facebook-logo.png");
  background-position: 50% 50%;
  background-size: contain;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;

  &:active {
    outline: none;
    opacity: 0.35;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    opacity: 0.4;
  }
}
