$erfara-black: #424242;

@font-face {
    font-family: 'LobsterTwo-Regular'; /*a name to be used later*/
    src: url('../fonts/LobsterTwo-Regular.ttf');
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('../assets/Roboto-Regular.ttf');
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Medium'; /*a name to be used later*/
    src: url('../assets/Roboto-Medium.ttf'); /*URL to font*/
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Thin'; /*a name to be used later*/
    src: url('../assets/Roboto-Thin.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic'; /*a name to be used later*/
    src: url('../assets/RobotoCondensed-LightItalic.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Light'; /*a name to be used later*/
    src: url('../assets/Roboto-Light.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto-Bold'; /*a name to be used later*/
    src: url('../assets/Roboto-Bold.ttf'); /*URL to font*/
        -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #424242;
  background-color: #f1efea;
  font-family: Roboto-Regular;
  font-weight: normal;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: #EEEEEE;
}

img {
  object-fit: cover;
}

p, h1 {
  margin: 0px;
}

.text {
  color: $erfara-black;
}

h1 {
  @extend .text;
  font-size: 2.6em;
}

h2 {
  @extend .text;
  font-size: 1.6em;
}

h3 {
  @extend .text;
}

h4 {
  @extend .text;
  font-size: 1em;
}

h5 {
  @extend .text;
  font-size: 0.8em;
}

.app {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0px;
}

.place {
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -10px;
  top: -10px;  
  border: 1px solid blue;
  background: red;
  color: yellow; 
}

/* ######################################################################## */
/* Main */
/* ######################################################################## */

.hero {
  height: 100%;
  @media only screen and (max-width: 990px) {
    /* only size 'xs' and below */
    height: 400px;
  }
}

.hero-image {
  height: 100%;
  padding: 80px;
  background-image: url("../images/sun_hero.png");
  background-size: cover;

  @media only screen and (max-width: 768px) {
    padding: 30px;
  }
}

.events-panel {
  height: 100%;
  padding: 0px 20px;

  @media only screen and (max-width: 990px) {
    height: inherit;
    padding: 0px 10px;
  }

  @media only screen and (max-width: 767px) {
    padding: 0px 0px;
  }
}

.erfaraFont {
  font-family: "LobsterTwo-Regular";
}

.fab {
  @media only screen and (min-width: 768px) {
    visibility: hidden;
  }
}

.create-event {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

#auth-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#main-div {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ################################ */

.sd-date {
  width: percentage(1/7);
  float: left;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  border-radius: 0.25rem;
  transition: background-color 0.25s ease-in-out;

  // Variants
  &.past, &.future {
    opacity: 0.5;
  }

  // States
  &:hover {
    cursor: pointer;
    background-color: rgba(white, 0.3);
  }
}

.hoverable {
  -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  &:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
           box-shadow: 5px 5px 8px #C7C7C7;
  }
}

.hover-opacity {
  -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  &:hover {
             opacity: 0.9;
  }
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.actionBarUser {
  &:hover {
    background-color: #CCCCCC;
  }
}

.light-shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.04);
}

.shadow {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reply-box {
  color: #9E9E9E;

  &:hover {
    color: #6E6E6E;
  }
}

.messaging-pane {

  .background-image {
    background-image: url("../images/message_window_background.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.hover {
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.conversationList {
  li {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .title {
      color: red;
    }

    .subtitle {
      color: blue;
    }
  }

  li::after {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #f4f5f5;
    content: "";
  }
}

.attendeesList {
  li {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

}

.appBar {
  h1 {
    &:hover {
      cursor: pointer;
    }
  }
}

.userTabs {
  &:hover {
    font-weight: 900;
    cursor: pointer;
  }
}

.googleSignUpButton {
  border: 0;
  border-radius: 5%;
  width: 133px;
  height: 133px;
  background-image: url("../images/google-logo.png");
  background-position: 50% 50%;
  background-size: contain;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;

  &:active {
    outline: none;
    opacity: 0.35;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    opacity: 0.4;
  }
}

.facebookSignUpButton {
  border: 0;
  border-radius: 5%;
  width: 110px;
  height: 110px;
  background-image: url("../images/facebook-logo.png");
  background-position: 50% 50%;
  background-size: contain;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;

  &:active {
    outline: none;
    opacity: 0.35;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    opacity: 0.4;
  }
}

.user-events-list-item {
  &:hover {
    opacity: 0.7;
    // background-color: rgba(0,0,0,0.25);
  }
}
